.page {
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  gap: 1rem;

  background-image: linear-gradient(45deg, #38bdf8, #fb7185, #a3e635);

  @media (width <= 600px) {
    align-items: center;
  }
}

.loading,
.error {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}
