@use '@/app/bootstrap-deps.scss' as *;

.custom_styles {
  @include media-breakpoint-up(md) {
    max-width: 450px;
  }

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(16px);
  color: #3f3f46;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.city_card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 250px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}
